.debug {
  position: absolute;
  z-index: 9;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.permission {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
}
