.debug {
  position: absolute;
  z-index: 9;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  width: 100%;
}

.permission {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
}

.billboard__rotator {
  transform-origin: 40% 40%;
}
