.debug {
  position: absolute;
  z-index: 9;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  width: 100%;
}

.permission {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
}

.gyro-upsidedown {
  .billboard__info {
    bottom: 10px;
  }
  .lolomo {
    margin-top: 30px;
  }
}

.billboard__rotator {
  transform-origin: 50% 50%;
  position: absolute;
}

.billboard__rotator__up,
.billboard__rotator__front,
.billboard__rotator__down {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
}
