.home {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 0px;
  background: #0f0f0f;

  &::-webkit-scrollbar {
    display: none;
  }
  @media only screen and (min-width: 600px) {
    padding-top: 50px;
  }
}
.home__nav {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background: #0f0f0f;

  &__col {
    position: absolute;
    width: 100%;
  }
  &__filters {
    top: 60px;
    gap: 32px;
  }
}

.home__container {
  position: relative;
  top: -6px;

  &.isMyList {
    top: 60px;
  }
}

.billboard {
  height: 584px;
  position: relative;

  &__bg {
    width: 100%;
  }

  &__info {
    position: absolute;
    bottom: 38px;
    width: 307px;
  }
}

.lolomo {
  gap: 20px;
  padding: 0 10px 180px;
  overflow: hidden;
  background: #0f0f0f;
  &__row {
    position: relative;
    gap: 6px;
    height: calc(var(--titleHeight) + 25px);
    width: var(--appWidth);

    &__label {
      text-align: left;
      bottom: -5px;
      display: flex;
      align-items: center;
      gap: 7px;
      height: 25px;
    }
    &__titles {
      position: absolute;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: visible;
      gap: 8px;
      top: 20px;
      width: var(--appWidth);
      height: calc(var(--titleHeight) + 20px);

      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .boxart {
    width: var(--titleWidth);
    height: var(--titleHeight);
    flex: 0 0 auto;
    overflow: visible;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}

.mylist {
  &__nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 60px;
    background: black;
    justify-content: center;

    @media only screen and (min-width: 600px) {
      top: 35px;
    }

    &__profile {
      width: 70px;
      height: 70px;
      border-radius: 5px;
      overflow: hidden;
      margin: auto;
    }
  }
}
