.config {
  width: 300px;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 10;

  &__list {
    margin: 0;
    position: absolute;
    min-width: 240px;
    transform: translateY(0%);
    transition: transform 200ms ease-out;

    &__debug {
      display: none;
    }
  }

  &__header {
    margin-bottom: 20px;
    width: 132px;
    p {
      margin-bottom: 0;
    }
    hr {
      margin-top: 0;
      border-style: dashed;
    }
  }

  li {
    list-style: none;
    margin-bottom: 5px;

    &.isActive {
      a {
        color: var(--nfBrandRed);
      }
    }

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &__mobile__cta {
    display: none;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 9;
    background: black;
  }
}

@media only screen and (max-width: 600px) {
  .config {
    top: 0px;
    width: 100%;

    &__list {
      top: 0px;
      background: black;
      width: 100%;
      padding: 10px 20px;

      &__debug {
        display: inline-block;
        margin-left: 10px;
      }
    }

    li > a {
      color: rgba(255, 255, 255, 1);
    }

    &__mobile__cta {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.isHiding {
    .config__list {
      transform: translateY(-150%);
    }
  }
}
